@{
    ViewBag.Title = "About";
}
@*snake game 2*@
<html>
<head>
    <title>Snake</title>
    <link href="~/Content/snake.css" rel="stylesheet" />
</head>
<body>

    <script src="~/Scripts/snake.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
//$(document.body).on("keydown", function (e) {
//            switch (e.which) {
//                case 38: head.direct(0, -1); break;
//                case 40: head.direct(0, 1); break;
//                case 37: head.direct(-1, 0); break;
//                case 39: head.direct(1, 0); break;
//            }
//        });
    </script>
</body>
</html>